*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.toggle-menu {
  position: absolute;
  top: 4rem;
  left: 18em;
  cursor: pointer;
  width: 40px;
}

@media screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
}

.hide {
  display: none;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-image: url("/assets/images/mobile/image-hero.jpg");
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .header {
    background-image: url("/assets/images/desktop/image-hero.jpg");
    width: 1440px;
    height: 650px;
    background-size: contain;
  }
}
.logo {
  width: 120px;
  position: relative;
  top: 2rem;
  margin-left: 1.5rem;
}

@media screen and (min-width: 600px) {
  .logo {
    margin-left: 5rem;
  }
}

.main-menu {
  position: relative;
  margin-left: 2.3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  top: -8rem;
}

@media screen and (min-width: 600px) {
  .main-menu {
    top: -35.5rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2rem;
  }
}

.main-menu-item {
  font-size: 1rem;
  color: white;
  padding: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  .main-menu-item {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }
}

.header__title {
  height: 200px;
  border: 1px solid white;
  color: white;
  margin: 2rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 1rem;
  position: relative;
  top: -13rem;
  font-weight: lighter;
}

@media screen and (min-width: 600px) {
  .header__title {
    top: 0;
    margin-left: 10rem;
    width: 650px;
    height: 278px;
    padding: 3rem;
    font-size: 4.3rem;
  }
}

.portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  margin-top: 4em;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .portal {
    height: 500px;
    width: 1111px;
    margin: 10rem;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
}

.portal_content {
  margin: 2.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .portal_content {
    height: 317px;
    width: 541px;
    background-color: white;
    padding-left: 6rem;
    padding-top: 4rem;
    padding-right: 8rem;
    margin-left: -13rem;
    margin-top: 10rem;
  }
}

@media screen and (min-width: 600px) {
  .portal_photo {
    height: 500px;
    width: 731px;
  }
}

.portal_content__text {
  color: #979797;
}

.portal_content__title {
  font-weight: lighter;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: normal;
  }
}

.cards__title {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  gap: 1rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .cards__title {
    display: block;
    margin-left: 10rem;
    margin-top: -7rem;
  }
}

.card {
  color: white;
  background-size: cover;
  height: 120px;
  width: 327px;
  padding-left: 1rem;
  font-size: 2rem;
  padding-top: 3rem;
  padding-right: 8rem;
  line-height: 2rem;
}

@media screen and (min-width: 600px) {
  .card {
    height: 450px;
    width: 256px;
    padding-top: 23rem;
    padding-right: 4rem;
  }
}

.card__1 {
  background-image: url("/assets/images/mobile/image-deep-earth.jpg");
}

@media screen and (min-width: 600px) {
  .card__1 {
    background-image: url("/assets/images/desktop/image-deep-earth.jpg");
  }
}

.card__2 {
  background-image: url("/assets/images/mobile/image-night-arcade.jpg");
}

@media screen and (min-width: 600px) {
  .card__2 {
    background-image: url("/assets/images/desktop/image-night-arcade.jpg");
  }
}

.card__3 {
  background-image: url("/assets/images/mobile/image-soccer-team.jpg");
}

@media screen and (min-width: 600px) {
  .card__3 {
    background-image: url("/assets/images/desktop/image-soccer-team.jpg");
  }
}

.card__4 {
  background-image: url("/assets/images/mobile/image-grid.jpg");
  padding-right: 12rem;
}

@media screen and (min-width: 600px) {
  .card__4 {
    background-image: url("/assets/images/desktop/image-grid.jpg");
    padding-right: 0;
  }
}

.card__5 {
  background-image: url("/assets/images/mobile/image-from-above.jpg");
}

@media screen and (min-width: 600px) {
  .card__5 {
    background-image: url("/assets/images/desktop/image-from-above.jpg");
  }
}

.card__6 {
  background-image: url("/assets/images/mobile/image-pocket-borealis.jpg");
}

@media screen and (min-width: 600px) {
  .card__6 {
    background-image: url("/assets/images/desktop/image-pocket-borealis.jpg");
  }
}

.card__7 {
  background-image: url("/assets/images/mobile/image-curiosity.jpg");
}

@media screen and (min-width: 600px) {
  .card__7 {
    background-image: url("/assets/images/desktop/image-curiosity.jpg");
  }
}

.card__8 {
  background-image: url("/assets/images/mobile/image-fisheye.jpg");
}

@media screen and (min-width: 600px) {
  .card__8 {
    background-image: url("/assets/images/desktop/image-fisheye.jpg");
  }
}

.cards__see {
  height: 40px;
  width: 157px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  gap: 1rem;
  margin-left: 7rem;
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  .cards__see {
    margin-left: 70rem;
    margin-top: -63rem;
  }
}

@media screen and (min-width: 600px) {
  .cards__see:hover {
    background-color: black;
    color: white;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: black;
}

@media screen and (min-width: 600px) {
  .footer {
    padding-left: 10rem;
    margin-top: 65rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.footer_copyright {
  margin: -1rem;
  margin-top: 1rem;
  font-weight: lighter;
  color: white;
}

@media screen and (min-width: 600px) {
  .footer_copyright {
    margin: 0;
  }
}

.footer_socialmedia {
  display: flex;
  flex-direction: row;
}

.footer_socialmedia_fb {
  padding: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .footer_socialmedia {
    padding: 0;
    margin: 0rem;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
  color: white;
  font-weight: lighter;
}

@media screen and (min-width: 600px) {
  .footer-menu {
    flex-direction: row;
  }
}

.footer_logo {
  width: 50%;
}

@media screen and (min-width: 600px) {
  .footer_logo {
  }
}
